/* -------------------------- */
/* Index.html buttons */

#beginBG{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/lavendel.jpeg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
#beginBtns{
    width: 100vw;
    height: 20vh;
    padding-top: 80vh;
    font-family: 'angelfaceregular';
}
#beginBtns a button{
    width: 150px;
    color: white;
    font-size: 35px;
    padding: 0;
}

#beginBtns a{
    color: #fc86f2;
    text-decoration: none;
    font-size: 50px;
}

/* -------------------------- */
/* Slideshow */

/* Slideshow container */
#slideShow{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 60vh;
    width: 100vw;
}

#slideShowContainer{
    padding: 0 !important;
}

/* -------------------------- */
/* Background colors */

.bg-love{
    background-color: #fc86f2 !important;
}
.bg-love2{
    background-color: #a986fc;
}
.bg-info{
    background-color: #a969fd !important;
}
.bg-info2{
    background-color: #7c8ef1;
}

/* -------------------------- */
/* General styling */

.nav{
    position: sticky !important;
}
h1, h2, h3{
    font-family: 'angelfaceregular';
    font-size: 80px;
}
#bg-img1{
    background-image: url(../img/lavendel.jpeg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 40vh;
}

/* -------------------------- */
/* Map styling */

#map{
    width: 100% !important; 
    height: 100% !important;
    border-radius: 10px !important;
}